<a href="https://colab.research.google.com/github/ibadovnikita/zad-44-python/blob/main/10sem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Задание 44

В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

1.   import random
2.   lst = ['robot'] * 10
3.   lst += ['human'] * 10
4.   random.shuffle(lst)
5.   data = pd.DataFrame({'whoAmI'lst})
6.   data.head()

In [ ]:
import random

In [ ]:
lst = ['robot'] * 10

In [ ]:
lst += ['human'] * 10

In [ ]:
random.shuffle(lst)

In [ ]:
data = pd.DataFrame({'whoAmI': lst})

In [ ]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       0      1
1       0      1
2       1      0
3       1      0
4       0      1
5       0      1
6       0      1
7       0      1
8       0      1
9       1      0
10      1      0
11      1      0
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      1      0
18      1      0
19      1      0

In [ ]:
import random as rnd
lst = ['robot'] * 10
lst += ['human'] * 10
rnd.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
data.head()

  whoAmI
0  human
1  human
2  robot
3  human
4  robot

In [ ]:
pd.get_dummies(data['whoAmI'])

    human  robot
0       1      0
1       1      0
2       0      1
3       1      0
4       0      1
5       0      1
6       1      0
7       0      1
8       1      0
9       1      0
10      1      0
11      0      1
12      1      0
13      0      1
14      0      1
15      1      0
16      0      1
17      1      0
18      0      1
19      0      1

In [ ]:
data['tmp'] = 1
data.set_index([data.index, 'whoAmI'], inplace=True)
data = data.unstack(level=-1, fill_value = 0).astype(int)
data.columns = data.columns.droplevel()
data.columns.name = None
data.head(10)

   human  robot
0      1      0
1      1      0
2      0      1
3      1      0
4      0      1
5      0      1
6      1      0
7      0      1
8      1      0
9      1      0

In [ ]:
import pandas as pd
import numpy as np
import random

lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI': lst})
print(data)

   whoAmI
0   human
1   robot
2   human
3   human
4   human
5   robot
6   robot
7   robot
8   human
9   robot
10  human
11  robot
12  robot
13  robot
14  human
15  human
16  human
17  human
18  robot
19  robot